name: Code checks, DocuCode and create a pr to merge to the master branch - for Linux runner with bash
run-name: WesterlyMerlin Code Checks

on:
  workflow_call:
    secrets:
      GH_ACTION_SECRET:
        required: true

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: If contains Python, pylint and download and run python documentation as code
      run: |
        whoami
        groups
        if [ -f requirements.txt ];
        then
          echo "Python found"
          pip install uv
          uv pip install --system --upgrade pip
          uv pip install --system pylint
          uv pip install --system pydoc_markdown
          uv pip install -r requirements.txt
          pylint $(git ls-files '*.py') 
          curl -o document_from_code.py  https://raw.githubusercontent.com/westerlymerlin/pyAutomate/master/document_from_code.py
          echo "checking local directory"
          python -m document_from_code
        else
          echo "No Python found"
        fi
    - name: Run terraform-docs
      uses: terraform-docs/gh-actions@v1.4.1
      with:
        working-dir: ./
        find-dir: ./terraform
        output-file: README.md
        output-method: replace
      env:
        GH_TOKEN: ${{ secrets.GH_ACTION_SECRET }}
    - name: Commit changes to the DocUCode branch
      run: |
        git config user.email "DocUCode@westerlymerlin.internal"
        git config user.name "DocUCode"
        git switch -c DocUCode
        whoami
        sudo chown -R $(whoami):$(whoami) .git && sudo chmod -R ug+rwx,o+rx .git
        ls -la .git
        echo "Adding md files to the DocUCode branch"
        git add '*.md'
        echo "Checking for changes to commit"
        if git diff --cached --name-only | grep --quiet md
        then
          echo "DocuCode Updates found"
          git commit --message "DocUCode automated documentation from code"
        fi
        git push --force --set-upstream origin DocUCode
      env:
        GH_TOKEN: ${{ secrets.GH_ACTION_SECRET }}
    - name: Create PR Release to main for checked in code
      run: |
        gh pr create --title "Auto PR from WesterlyMerlin Code Checks" --body "Static code analysis (pylint > 9/10) and DocUCode has completed"
      env:
        GH_TOKEN: ${{ secrets.GH_ACTION_SECRET }}


