name: Code checks, DocuCode and create a pr to merge to the master branch - for Linux runner with bash
run-name: WesterlyMerlin Python Checks

on:
  workflow_call:
    secrets:
      GH_ACTION_SECRET:
        required: true

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install python dependencies
      run: |
        pip install uv
        uv pip install --system --upgrade pip
        uv pip install --system pylint
        uv pip install --system -r requirements.txt
        uv pip install --system pydoc_markdown
    - name: Analyse the code with pylint (pass score = 9/10)
      run: |
        pylint $(git ls-files '*.py')
    - name: Download and run python documentation as code
      run: |
        curl -o document_from_code.py  https://raw.githubusercontent.com/westerlymerlin/pyAutomate/master/document_from_code.py
        python -m document_from_code
    - name: Run terraform-docs
      uses: terraform-docs/gh-actions@v1.4.1
      with:
        working-dir: ./terraform
        output-file: ../docs/terraform.md
        output-method: replace
    - name: Commit changes to the DocUCode branch
      run: |
        git config user.email "DocUCode@westerlymerlin.internal"
        git config user.name "DocUCode"
        git switch -c DocUCode
        git add ./docs/*.md
        if git diff --cached --name-only | grep --quiet md
        then
          echo "DocuCode Updates found"
          git commit --message "DocUCode automated documentation from code"
        fi
        git push --force --set-upstream origin DocUCode
      env:
        GH_TOKEN: ${{ secrets.GH_ACTION_SECRET }}
    - name: Create PR Release to main
      run: |
        gh pr create --title "Auto PR from WesterlyMerlin Python Checks" --body "Static code analysis (pylint > 9/10) and DocUCode has completed"
      env:
        GH_TOKEN: ${{ secrets.GH_ACTION_SECRET }}


