name: Code checks, DocuCode and create a Pull Request to merge to the main branch - Linux runner with bash
run-name: WesterlyMerlin Code Checks

on:
  workflow_call:
    secrets:
      GH_ACTION_SECRET:
        required: true

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Check for existence of Python and Terraform files
        id: doc_types
        run: |
          echo "Checking for Python and/or Terraform files"
          if [ "$(git ls-files '*.py')" == "" ]; then pyfiles=false; else pyfiles=true; fi
          if [ "$(git ls-files '*.tf')" == "" ]; then tffiles=false; else tffiles=true; fi
          echo "py_files=$pyfiles" >> $GITHUB_OUTPUT
          echo "tf_files=$tffiles" >> $GITHUB_OUTPUT

      - name: If python found set up python on runner ${{ matrix.python-version }}
        if: steps.doc_types.outputs.py_files == 'true'
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: If python found, run pylint
        if: steps.doc_types.outputs.py_files == 'true'
        run: |
          echo "Python found installing pylint and pydoc_markdown"
          pip install uv
          uv pip install --system --upgrade pip
          uv pip install --system pylint
          uv pip install --system pydoc_markdown
          echo "Installing requirements.txt"
          uv pip install --system -r requirements.txt
          echo "Running pylint"
          pylint $(git ls-files '*.py') 

      - name: If terraform found, setup terraform lint
        if: steps.doc_types.outputs.tf_files == 'true'
        uses: terraform-linters/setup-tflint@v6
        with:
            tflint_version: "latest"
            cache: true

      - name: If terraform found, initialise and run terraform lint
        if: steps.doc_types.outputs.tf_files == 'true'
        run: |
          tflint --init
          tflint --chdir terraform -f compact
        env:
          GH_TOKEN: ${{ secrets.GH_ACTION_SECRET }}

      - name: If python found, run python documentation from code
        if: steps.doc_types.outputs.py_files == 'true'
        run: |
          echo "Downloading document_from_code.py"
          curl -o document_from_code.py  https://raw.githubusercontent.com/westerlymerlin/pyAutomate/master/document_from_code.py
          echo "Running Document From Code"
          python -m document_from_code

      - name: If terraform found run terraform documentation from code
        if: steps.doc_types.outputs.tf_files == 'true'
        uses: terraform-docs/gh-actions@v1.4.1
        with:
          working-dir: ./
          find-dir: ./terraform
          output-file: README.md
          output-method: replace

      - name: Commit changes to the DocUCode branch
        run: |
          git config user.email "DocUCode@westerlymerlin.internal"
          git config user.name "DocUCode"
          git switch -c DocUCode
          sudo chown -R $(whoami):$(whoami) .git && sudo chmod -R ug+rwx,o+rx .git
          echo "Adding md files to the DocUCode branch"
          git add '*.md'
          echo "Checking for changes to commit"
          if git diff --cached --name-only | grep --quiet md
          then
            echo "DocuCode Updates found"
            git commit --message "DocUCode automated documentation from code"
          fi
          git push --force --set-upstream origin DocUCode
        env:
          GH_TOKEN: ${{ secrets.GH_ACTION_SECRET }}

      - name: Create PR Release from DocUcode to to main
        run: |
          gh pr create --title "Auto PR from WesterlyMerlin Code Checks" --body "Static code analysis and Documentation from code has completed"
        env:
          GH_TOKEN: ${{ secrets.GH_ACTION_SECRET }}


