name: Code checks, DocuCode and create a pr to merge to the master branch - for Linux runner with bash
run-name: WesterlyMerlin Code Checks

on:
  workflow_call:
    secrets:
      GH_ACTION_SECRET:
        required: true

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Check for existence of Python and Terraform files
        id: file_types
        run: |
          echo "Checking for Python and Terraform files"
          if [ "$(git ls-files '*.py')" == "" ]; then export pyfiles=false; else export pyfiles=true; fi
          if [ "$(git ls-files '*.tf')" == "" ]; then export tffiles=false; else export tffiles=true; fi
          echo "pyfiles="
          echo $pyfiles
          echo "tffiles="
          echo $tffiles
          echo "pyfiles=$pyfiles" >> $GITHUB_OUTPUT
          echo "tffiles=$tffiles"  >> $GITHUB_OUTPUT

      - name: Set up Python ${{ matrix.python-version }}
        if: steps.file_types.output.pyfiles == 'true'
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: If Python fund, run pylint and download and run python documentation as code
        if: steps.file_types.output.pyfiles == 'true'
        run: |
          echo "Python found"
          pip install uv
          uv pip install --system --upgrade pip
          uv pip install --system pylint
          uv pip install --system pydoc_markdown
          uv pip install -r requirements.txt
          pylint $(git ls-files '*.py') 
          curl -o document_from_code.py  https://raw.githubusercontent.com/westerlymerlin/pyAutomate/master/document_from_code.py
          echo "checking local directory"
          python -m document_from_code

      - name: If contains Terraform, tflint and run terraform documentation as code
        if: steps.file_types.output.tffiles == 'true'
        uses: terraform-docs/gh-actions@v1.4.1
        with:
          working-dir: ./
          find-dir: ./terraform
          output-file: README.md
          output-method: replace

      - name: Commit changes to the DocUCode branch
        run: |
          git config user.email "DocUCode@westerlymerlin.internal"
          git config user.name "DocUCode"
          git switch -c DocUCode
          sudo chown -R $(whoami):$(whoami) .git && sudo chmod -R ug+rwx,o+rx .git
          echo "Adding md files to the DocUCode branch"
          git add '*.md'
          echo "Checking for changes to commit"
          if git diff --cached --name-only | grep --quiet md
          then
            echo "DocuCode Updates found"
            git commit --message "DocUCode automated documentation from code"
          fi
          git push --force --set-upstream origin DocUCode
        env:
          GH_TOKEN: ${{ secrets.GH_ACTION_SECRET }}

      - name: Create PR Release to main for checked in code
        run: |
          gh pr create --title "Auto PR from WesterlyMerlin Code Checks" --body "Static code analysis (pylint > 9/10) and DocUCode has completed"
        env:
          GH_TOKEN: ${{ secrets.GH_ACTION_SECRET }}


